<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{
    title : 'Dashboard'
}) %>

  <body class="home">
    <!-- encabezado -->
    <%- include('./partials/headerAdmin') %>

      <!-- principal -->
      <main class="container">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Visible</th>
                                <th scope="col">Gratis</th>
                                <th scope="col">Acciones</th>

                              </tr>
                            </thead>
                            <tbody>
                                <% courses.forEach(({id, title,price,visible, free}) => { %>
                                    <tr>
                                        <th scope="row"><%= id %></th>
                                        <td><%= title %></td>
                                        <td><%= price %></td>
                                        <td>
                                          <div class="form-check form-switch">
                                            <input class="form-check-input" name="visible" type="checkbox" role="switch" id="flexSwitchCheckChecked" <%= visible && 'checked' %>>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="form-check form-switch">
                                            <input class="form-check-input" name="free" type="checkbox" role="switch" id="flexSwitchCheckChecked" <%= free && 'checked' %>>
                                          </div>
                                        </td>
                                        <td>
                                           <div class="d-flex gap-2">
                                            <a class="btn btn-sm btn-primary" href="/courses/detail/<%= id %>"><i class="far fa-eye"></i></a>
                                            <a class="btn btn-sm btn-success" href="/courses/edit/<%= id %>"><i class="far fa-edit"></i></a>
                                           </div> 
                                        </td>
                                      </tr>

                                <% }) %>
                            
                           
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
     
     

      </main>
      <!-- pie de pagina -->



  </body>

</html>