<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="home">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="home__main">
     
        <!-- productos -->
        <section class="home__main__section--productos">
          <% courses.forEach(({title,price,discount, description,chef,images,id,free,createdAt}) => { %>
            <%- include('../partials/courseArticle',{
              title,
              images,
              id,
              sticker: free ?  "img-gratis.png" : discount !== 0 ? "img-descuento.png"  : null,
              days : differenceInDays(Date.now(),new Date(createdAt))
            }) %> 
          <% }) %>
         
         
        </section>
           <!-- botón de whatsapp -->

        <%- include('../partials/whatsApp') %>

      </main>
      <!-- pie de pagina -->

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

          <script src="/javascripts/home.js"></script>

  </body>

</html>